# ignore everything in the root except the "assets" directory.
wp-admin
wp-includes
.DS_Store
.gitignore
readme.html
license.txt
README.md
index.php
wp-blog-header.php
wp-cron.php
wp-load.php
wp-settings.php
wp-activate.php
wp-comments-post.php
wp-login.php
wp-signup.php
wp-config.php
wp-links-opml.php
wp-mail.php
wp-trackback.php
xmlrpc.php

# ignore everything in the "assets" directory, except:
# "mu-plugins", "plugins", "themes" directory
assets/*
!assets/themes/

# ignore these plugins
assets/plugins/hello.php

# ignore specific themes
assets/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
