/*  GENERAL
=========================================== */

:root {
    --uvsc-text:#777;           /*  text default  */
    --uvsc-text-light:#fafafa;     /*  text light default  */
    --uvsc-text-dark:#2d2d2d;      /*  text dark default  */
    --uvsc-black:#000;
    --uvsc-slate-grey:#778899;
    --uvsc-bisque:#ffe4c4;
    --uvsc-burlywood:#deb887;
    --uvsc-steel-blue:#486264;
    --uvsc-slate-blue:#6a5acd;
}

/*  scrolling  */

html,
body {
    scroll-behavior: smooth;
}

html.noscroll,
body.noscroll {
    overflow: hidden;
}

/*  cursor  */

.nopoint {
    pointer-events: none;
}
.allpoint {
    pointer-events: all;
}

.uvsc-before:before,
.uvsc-after:after {
    width:100%;
    height:100%;
    top:0;
    left:0;
    content:"";
    display: block;
    position: absolute;
}


/*  TYPOGRAPHY
=========================================== */

html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Raleway', sans-serif !important;
    line-height: 1.4 !important;
}
h1 {
    font-size: 51px;
}
.hero-title-wrap h1 {
    font-size: 61px;
    text-transform: uppercase;
    line-height: 0.95;
    letter-spacing: 8px;
    font-weight: 200;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 29px;
}
h5 {
    font-size: 24.5px;
}
h6 {
    font-size: 20.5px;
}

p a,
p a:hover {
    color:var(--uvsc-slate-blue);
}
p a {
    display: inline-block;
    position: relative;
}
p a:before,
p a:after {
    background-color:var(--uvsc-slate-blue);
    width:100%;
    height:1px;
    left:0;
    content:"";
    display: block;
    -webkit-transition:0.35s all cubic-bezier(0,0,0,0.99);
    transition:0.35s all cubic-bezier(0,0,0,0.99);
    position: absolute;
}
p a:before {
    bottom:-1px;
}
p a:hover::before {
    -webkit-transform:translate3d(0,-23px,0);
    transform:translate3d(0,-23px,0);
}
p a:after {
    top:1px;
    opacity: 0;
}
p a:hover::after {
    opacity: 1;
    -webkit-transform:translate3d(0,22px,0);
    transform:translate3d(0,22px,0);
    transition-delay: 0.15s;
}

.content-title {
    font-weight: 300 !important;
    letter-spacing: 1.5px;
}


/*  COLORS
=========================================== */

.uvsc-text {
    color:var(--uvsc-text);
}
.uvsc-text-light {
    color:var(--uvsc-text-light);
}
.uvsc-text-dark {
    color:var(--uvsc-text-dark);
}
.uvsc-black {
    color:var(--uvsc-black);
}
.uvsc-slate-grey {
    color:var(--uvsc-slate-grey);
}
.uvsc-bisque {
    color:var(--uvsc-bisque);
}
.uvsc-burlywood {
    color:var(--uvsc-burlywood);
}
.uvsc-steel-blue {
    color:var(--uvsc-steel-blue);
}
.uvsc-slate-blue {
    color:var(--uvsc-slate-blue);
}

/*  backgrounds  */

.uvsc-text-bg {
    background-color:var(--uvsc-text);
}
.uvsc-text-light-bg {
    background-color:var(--uvsc-text-light);
}
.uvsc-text-dark-bg {
    background-color:var(--uvsc-text-dark);
}
.uvsc-black-bg {
    background-color:var(--uvsc-black);
}
.uvsc-slate-grey-bg {
    background-color:var(--uvsc-slate-grey);
}
.uvsc-bisque-bg {
    background-color:var(--uvsc-bisque);
}
.uvsc-burlywood-bg {
    background-color:var(--uvsc-burlywood);
}
.uvsc-steel-blue-bg {
    background-color:var(--uvsc-steel-blue);
}
.uvsc-slate-blue-bg {
    background-color:var(--uvsc-slate-blue);
}


/*  ANIMATIONS
=========================================== */

@keyframes scaleout_165 {
    0% {
        transform:scale3d(1.65,1.65,1);
    }
    100% {
        transform:scale3d(1,1,1);
    }
}
@-webkit-keyframes scaleout_165 {
    0% {
        -webkit-transform:scale3d(1.65,1.65,1);
    }
    100% {
        -webkit-transform:scale3d(1,1,1);
    }
}

/*  animation classes  */

.scaleout-165 {
    -webkit-transform:scale3d(1.65,1.65,1);
    transform:scale3d(1.65,1.65,1);
}
.scaleout-165.default {
    -webkit-animation: scaleout_165 2.5s cubic-bezier(0.75,0,0,0.99) forwards;
    animation: scaleout_165 2.5s cubic-bezier(0.75,0,0,0.99) forwards;
}


/*  SLOPES
=========================================== */

.l-up-r-5 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
}
.l-up-r-10 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}
.l-up-r-15 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.r-up-l-5 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95%);
}
.r-up-l-10 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
}
.r-up-l-15 {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
}


/*  IMAGES
=========================================== */

.icon-waves img {
    width: 100%;
    max-width: 85px !important;
    display: block;
    margin: 0 auto;
    padding: 0;
    position: relative;
}


/*  CONTAINERS
=========================================== */

.title-area,
.site-inner,
.custom-hero,
footer {
    -webkit-transition:0.35s all ease 0.25s;
    transition:0.35s all ease 0.25s;
}
.title-area {
    z-index: 1;
}

.container {
    width:100%;
    max-width: 1300px;
    margin-inline:auto;
    /* margin:0 auto; */
    position: relative;
}


/*  MODALS COMMON
=========================================== */

.underlayment {
    background:rgba(0,0,0,0.65);
    width:100%;
    height:100%;
    top:0;
    left:0;
    display: block;
    z-index: 0;
    position: absolute;
}
.modalwrap {
    width:95vw;
    max-width:1100px;
    height:auto;
    max-height:90vh;
}

/*  close X  */

.close-X {
    width:65px;
    height:65px;
    border-radius: 50%;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 30;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    position: absolute;
}
.close-X span {
    width:2px;
    height:35px;
}
.close-X span:first-child {
    -webkit-transform:rotate(45deg) translate(0px, -1px);
    transform:rotate(45deg) translate(0px, -1px);
}
.close-X span:last-child {
    -webkit-transform:rotate(-45deg) translate(0px, -0.5px);
    transform:rotate(-45deg) translate(0px, -0.5px);
}


/*  FORMS
=========================================== */

/*  password protect  */

form.post-password-form {
	width:100%;
	max-width:1100px;
	margin:0 auto;
	padding:160px 0 100px;
}
form.post-password-form input[type=password] {
	max-width:400px;
}
form.post-password-form input[type=submit] {
	cursor:pointer;
	margin:5px 0 0;
}


/*  general  */

input[type="submit"] {
	border-radius:2px !important;
}
.main_contact_form .wpcf7-spinner {
    display: none !important;
}

/*  main contact  */

.mcf__container {
	color:#fff !important;
}
.main_contact_form,
.mcf__container form {
	width:100%;
	display:block;
	position:relative;
}
.mcf__container form {
	max-width:900px;
	margin:0 auto;
}
.main_contact_form br {
	display:none;
}
.mcf__container form input[type="text"],
.mcf__container form input[type="email"],
.mcf__container form input[type="tel"],
.mcf__container form textarea {
	width:100%;
	font-size:19px;
	font-weight:500;
	color:#fff !important;
	border:none;
	padding:15px 15px 15px 40px;
}
.mcf__container form input[type="text"],
.mcf__container form input[type="email"],
.mcf__container form input[type="tel"],
.mcf__container form textarea,
.mcf__container form input:focus,
.mcf__container form textarea:focus {
	background-color:transparent !important;
	outline:none !important;
}
.mcf__container form textarea {
	height:100px;
}
.label__container {
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.4);
	display:block;
	margin-bottom:25px;
	position:relative;
}
.label__container > span.label,
.label__container > span.icon {
	left:10px;
	font-weight:500;
	display:block;
	position:absolute;
}
.label__container > span.icon {
	font-size:20px;
	-webkit-transform:translate3d(-50px,-50%,0);
	   -moz-transform:translate3d(-50px,-50%,0);
		 -o-transform:translate3d(-50px,-50%,0);
		-ms-transform:translate3d(-50px,-50%,0);
			transform:translate3d(-50px,-50%,0);
	-webkit-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	   -moz-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
		 -o-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
		-ms-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
			transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	opacity:0;
}
.label__container.message > span.icon {
	-webkit-transform:translate3d(-50px,0,0);
	   -moz-transform:translate3d(-50px,0,0);
		 -o-transform:translate3d(-50px,0,0);
		-ms-transform:translate3d(-50px,0,0);
			transform:translate3d(-50px,0,0);
}
.label__container > span.label {
	top:50%;
	font-size:17px;
	-webkit-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
	   -moz-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
		 -o-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
		-ms-transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
			transition:all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.label__container.message > span.label,
.label__container.message > span.icon {
	top:15px;
}
.submit__container {
	display:block;
	padding-top:25px;
}
.mcf__container form input[type="submit"] {
	background:#fff !important;
	font-size:17px;
	font-weight:500;
	color:#486264 !important;
	border:none;
	padding:15px 75px;
}

/* ##  hover actions  ## */
.label__container > span.labelOut {
	-webkit-transform:translate3d(50px,-50%,0);
	   -moz-transform:translate3d(50px,-50%,0);
		 -o-transform:translate3d(50px,-50%,0);
		-ms-transform:translate3d(50px,-50%,0);
			transform:translate3d(50px,-50%,0);
	opacity:0;
}
.label__container > span.iconIn {
	-webkit-transform:translate3d(0,-50%,0);
	   -moz-transform:translate3d(0,-50%,0);
		 -o-transform:translate3d(0,-50%,0);
		-ms-transform:translate3d(0,-50%,0);
			transform:translate3d(0,-50%,0);
	opacity:1;
}
.label__container.message > span.labelOut {
	-webkit-transform:translate3d(50px,0,0);
	   -moz-transform:translate3d(50px,0,0);
		 -o-transform:translate3d(50px,0,0);
		-ms-transform:translate3d(50px,0,0);
			transform:translate3d(50px,0,0);
}
.label__container.message > span.iconIn {
	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
		 -o-transform:translate3d(0,0,0);
		-ms-transform:translate3d(0,0,0);
			transform:translate3d(0,0,0);
}
.mcf__container form input[type="submit"]:hover,
.mcf__container form input[type="submit"]:focus {
	background:#486264 !important;
	color:#fff !important;
	cursor:pointer;
	opacity:1.0 !important;
}

/*  quick connect  */

.quick__connect {
	width:100%;
	max-width:300px;
}
.quick__connect input {
	font-size:14px !important;
}
.quick__connect input[type="text"],
.quick__connect input[type="email"] {
    background-color: transparent;
    color:var(--uvsc-text-light);
    font-weight: 700;
    border-color:transparent;
    border-bottom:1px solid var(--uvsc-text-light);
	padding:10px 10px 10px 40px !important;
}
.quick__connect input[type="submit"] {
	padding:8px 25px !important;
}
.quick__connect .label__container {
	margin-bottom:25px;
}
.quick__connect span.icon,
.quick__connect span.label {
	color:#fff !important;
}
.quick__connect span.icon {
	font-size:16px;
}
.quick__connect span.label {
	font-size:14px;
}
.quick__connect .submit__container {
	padding-top:15px;
}
.quick__connect input[type="submit"]:hover {
	background:#6a5acd !important;
}
.quick__connect button {
    display: block;
}

/*  quick connect :: errors + responses */

.footer-sc .wpcf7-not-valid-tip {
    color:var(--uvsc-burlywood);
    margin:5px 0 0 10px;
    position: absolute;
}
.footer-sc .wpcf7-response-output {
    background:var(--uvsc-steel-blue);
    border:none !important;
    border-radius: 10px;
    color:var(--uvsc-text-light);
    margin-left: 0 !important;
    padding:10px;
}


/*  ELEMENTOR : EDITOR
=========================================== */

.elementor-editor-active header.site-header {
    pointer-events: none;
}


/*  TEMPLATE PAGES SETTINGS - COMMON
=========================================== */

body.uvsc-hero header.site-header {
    background-color: transparent;
    width:100%;
    box-shadow: none;
    position: absolute;
}
body.uvsc-page .site-inner {
    width:100%;
    max-width: 100%;
    margin:0;
    padding:0;
}


/*  TEMPLATE :: UVSC ELEMENTOR
=========================================== */

body.uvsc-elementor header.site-header {
    background-color: transparent;
    width:100%;
    box-shadow: none;
    position: absolute;
}


/*  TEMPLATE :: UVSC POSTS
=========================================== */

article.post-item-wrap {
    border-radius: 10px;
    gap:25px 75px;
}
article.post-item-wrap:hover {
    background:#fafafa;
}
.post-item-image {
    max-width: 410px;
    border-radius: 10px;
}
.post-item-image img {
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.post-item-image:hover img {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.post-item-content {
    padding-top:30px;
}
.post-item-content:before {
    background:var(--uvsc-text);
    width:25%;
    height: 1px;
    top:15px;
    left:0;
    content:"";
    display: block;
    position: absolute;
}
.post-item-content-wrap time {
    font-size: 14px;
    letter-spacing: 2px;
}
.post-item-content-wrap .post-cats a {
    font-weight: 500;
    color:var(--uvsc-slate-blue);
}
.post-item-content-wrap .post-cats a:hover {
    color:var(--uvsc-steel-blue);
}

.post-item-content-wrap h4 a,
.post-item-content-wrap h5 a {
    word-break: break-word;
}

/*  pagination  */

.pagination-inner * {
    font-size: 21px;
    margin-inline:5px;
}
.pagination-inner a {
    color:var(--uvsc-burlywood);
}
.pagination-inner a:hover {
    color:var(--uvsc-slate-blue);
}


/*  TEMPLATE :: UVSC DONATE
=========================================== */

.donate-intro-separator img {
    width:70px;
}
.donate-intro-wrap {
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}
.donation-types {
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
}

/*  donation type buttons  */

.d-type-btn {
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
}
.d-type-btn:hover,
.d-type-btn:focus {
    background-color:transparent;
}
.d-type-btn:before {
    background-color: var(--uvsc-slate-blue);
    opacity: 0.85;
    -webkit-transform:translate3d(0,101%,0);
    transform:translate3d(0,101%,0);
    -webkit-transition:0.25s all cubic-bezier(0,0,0,0.99);
    transition:0.25s all cubic-bezier(0,0,0,0.99);
}
.d-type-btn.active:before {
    opacity: 1;
}
.d-type-btn span {
    color:var(--uvsc-slate-blue);
    font-size: 16px;
    font-weight: 500;
}
.d-type-btn.active:before,
.d-type-btn:hover::before {
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
.d-type-btn.active span,
.d-type-btn:hover span {
    color:var(--uvsc-text-light);
}
.d-type-btn:not(:hover):not(.active) svg path.regular {
    fill:var(--uvsc-slate-blue);
}
.d-type-btn:not(:hover):not(.active) svg path.darker {
    fill:#6253bc;
}

/*  donation button grids  */

.donation-block-inner {
    grid-template-columns: 1fr 1fr;
    gap:20px 50px;
}
.donation-block-inner.other-amt {
    padding-top:20px;
}
.donation-block-inner .simpay-form-wrap label,
.donation-block-inner .simpay-form-wrap label button {
    width:100%;
}
.donation-block-inner .simpay-form-wrap label {
    margin:0;
}
.donation-block-inner .simpay-form-wrap label button {
    background-color:var(--uvsc-slate-blue);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.donation-block-inner .simpay-form-wrap label button span {
    z-index: 1;
    position: relative;
}
.donation-block-inner .simpay-form-wrap label button:before {
    background-color: var(--uvsc-steel-blue);
    width:110%;
    height:0;
    top:50%;
    left:50%;
    content:"";
    display: block;
    border-radius: 50%;
    -webkit-transform:translate(-50%, -50%) scale(0);
    transform:translate(-50%, -50%) scale(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition: transform 0.2s cubic-bezier(0.1, 0, 0.3, 1);
    transition: transform 0.2s cubic-bezier(0.1, 0, 0.3, 1);
    padding-bottom: 110%;
    position: absolute;
}
.donation-block-inner .simpay-form-wrap label:hover button, 
.donation-block-inner .simpay-form-wrap label:focus button {
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.donation-block-inner .simpay-form-wrap label:hover button:before, 
.donation-block-inner .simpay-form-wrap label:focus button:before {
    /* border-radius: 0; */
    -webkit-transform:translate(-50%, -50%) scale(1);
    transform:translate(-50%, -50%) scale(1);
}

/*  stripe payment modal  */

.simpay-modal__body {
    border-radius: 10px;
}
.simpay-modal-control-close {
    font-size: 20px;
}
.simpay-modal__content .simpay-btn {
    background-color: var(--uvsc-slate-blue) !important;
    height: 50px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}
.simpay-modal__content .simpay-btn:hover {
    opacity: 0.9;
}
.simpay-modal__content .simpay-btn span {
    font-size: 17px;
    text-transform: none;
}
.simpay-modal__content input:focus,
.simpay-modal__content .simpay-card-wrap.StripeElement--focus {
    border:1px solid var(--uvsc-slate-blue) !important;
    box-shadow: none !important;
}
.simpay-modal__content span.simpay-currency-symbol {
    padding-top: 7px !important;
}


/* temporary */
/* .simpay-test-mode-badge-container {
    display:none;
} */
/* temporary */


/*  TEMPLATE PART :: PAST BENEFICIARIES
=========================================== */

.posts-grid-3 {
    display:grid;
}
.posts-grid-3 .post-item-image {
    display: block;
}



/*  BUTTONS
=========================================== */

.btn-main {
    text-align: center;
    line-height: 1;
    display: inline-block;
    position: relative;
}
button.btn-main {
    background-color:transparent !important;
}

/* size */

.btn-main.sm {
    padding:15px 25px;
}
.btn-main.md {
    padding:25px 45px;
}
.btn-main.lg {
    padding:40px 95px;
}

.btn-main div {
    -webkit-transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}
.btn-main div {
    border-radius: 10px;
}
.btn-main.outline--hover div {
    border:1px solid transparent;
}
.btn-main div:before,
.btn-main div:after {
    content:"";
    display: block;
    position: absolute;
}
.btn-main div:before {
    width:110%;
    height:0;
    top:50%;
    left:50%;
    border-radius: 50%;
    -webkit-transform:translate3d(-50%,-50%,0) scale3d(0,0,1);
    transform:translate3d(-50%,-50%,0) scale3d(0,0,1);
    padding-bottom: 110%;
}
.btn-main div:after {
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity: 0;
    -webkit-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.btn-main span {
    display: block;
    z-index: 1;
    -webkit-transition:all 0.3s cubic-bezier(0.1, 0, 0.3, 1);
    transition:all 0.3s cubic-bezier(0.1, 0, 0.3, 1);
    position: relative;
}
.btn-main.md span,
.btn-main.lg span {
    font-size: 19px;
}
.btn-main:hover div {
    -webkit-transform:scale3d(1.2,1.2,1);
    transform:scale3d(1.2,1.2,1);
}
.btn-main:hover div:before {
    -webkit-transition: all 0.3s cubic-bezier(0.1, 0, 0.3, 1);
    transition: all 0.3s cubic-bezier(0.1, 0, 0.3, 1);
    -webkit-transform:translate3d(-50%,-50%,0) scale3d(1,1,1);
    transform:translate3d(-50%,-50%,0) scale3d(1,1,1);
}
.btn-main:hover div:after {
    opacity:1;
    -webkit-transition-delay:0.3s;
    transition-delay:0.3s;
}

/*  colors  */

.btn-main.light div {
    background-color:var(--uvsc-text-light);
}
.btn-main.light div:before,
.btn-main.light div:after {
    background-color: var(--uvsc-slate-blue);
}
.btn-main.light span {
    color:var(--uvsc-text-dark);
}
.btn-main.light:hover span {
    color:var(--uvsc-text-light);
}

.btn-main.slate-blue div {
    background-color: var(--uvsc-slate-blue);
}
.btn-main.slate-blue div:before,
.btn-main.slate-blue div:after {
    background-color:var(--uvsc-text-light);
}
.btn-main.slate-blue span {
    color:var(--uvsc-text-light);
}
.btn-main.slate-blue.outline--hover:hover div {
    border:1px solid var(--uvsc-slate-blue);
}
.btn-main.slate-blue:hover span {
    color:var(--uvsc-slate-blue);
}




/*  HEADER / NAVIGATION
=========================================== */

.site-title {
    height: 0px;
    visibility: hidden;
}
.title-area {
    padding:10px 0 0;
}
body.nav-light .title-area a img {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.site-description {
    margin: 0;
}
header.site-header {
    z-index: 10;
}
.has-hero header.site-header {
    background-color: transparent;
    width:100%;
    box-shadow: none;
    position: absolute;
}

/*  header navigation  */

ul#menu-main-menu li {
    padding:12px 15px;
}
ul#menu-main-menu li a {
    font-weight: 700;
    letter-spacing: 2px;
    padding:0;
    position: relative;
}
body.nav-dark ul#menu-main-menu li a,
body.nav-dark ul#menu-main-menu li a:hover {
    color:var(--uvsc-text-dark);
}
body.nav-light ul#menu-main-menu li a,
body.nav-light ul#menu-main-menu li a:hover {
    color:var(--uvsc-text-light);
}
ul.menu > li a:before {
    width:100%;
    height:2px;
    bottom:-3px;
    content:"";
    display: block;
    border-radius: 1px;
    -webkit-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition:0.75s all cubic-bezier(0.99,0.22,0,0.99);
    transition:0.75s all cubic-bezier(0.99,0.22,0,0.99);
    position: absolute;
}
ul.menu > li a:hover::before {
    -webkit-transform:scaleX(1);
    transform:scaleX(1);
}
body.nav-dark ul#menu-main-menu > li a:before {
    background:var(--uvsc-text);
}
body.nav-light ul#menu-main-menu > li a:before,
.mobile-menu-master-wrap ul.menu > li a:before {
    background:var(--uvsc-text-light);
}

/*  mobile nav burger  */

.nav-trigger-wrap {
    right:0;
    height:34px;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    cursor: pointer;
    z-index:10000;
    padding:5px;
}
body.nomobile .nav-trigger-wrap:hover span.nav-dash,
.nav-trigger-wrap.active span.nav-dash {
    width:30px;
}
span.nav-dash {
    height:2px;
    border-radius: 1px;
    -webkit-transition:0.25s all cubic-bezier(0.85, 0, 0.15, 1);
    transition:0.25s all cubic-bezier(0.85, 0, 0.15, 1);
}
body.nav-dark span.nav-dash {
    background:var(--uvsc-text);
}
body.nav-light span.nav-dash {
    background:var(--uvsc-text-light);
}
span.nav-dash-1 {
    width:16px;
}
span.nav-dash-2 {
    width:30px;
}
span.nav-dash-3 {
    width:21px;
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

/*  mobile nav  */

.mobile-menu-master-wrap {
    z-index: 9999;
}
.mobile-menu-master-wrap:before {
    /* background-color: #131626; */
    background-color: var(--uvsc-slate-blue);
    content: '';
    display: block;
    border-radius: 50%;
    -webkit-transform:scale(0);
    transform:scale(0);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition:0.75s all ease-in-out;
    transition:0.75s all ease-in-out;
    position: absolute;
}
.mobile-menu-master-wrap:not(.active) {
    visibility:hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}
body.mobile-nav .title-area,
body.mobile-nav .site-inner,
body.mobile-nav .custom-hero,
body.mobile-nav footer {
    opacity: 0.75;
    -webkit-transform:translate3d(-6vw,0,0) scale(0.9);
    transform:translate3d(-6vw,0,0) scale(0.9);
    transition-delay: 0s !important;
}
body.mobile-nav .mobile-menu-master-wrap:before {
    -webkit-transform:scale(1);
    transform:scale(1);
}
#rp-mobile-navigation {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}
#rp-mobile-navigation li {
    opacity: 0;
}
#rp-mobile-navigation li a {
    color:var(--uvsc-text-light);
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 6px;
}


/*  HERO :: HOME PAGE HERO
=========================================== */

.home-hero,
.hh-outerwrap,
.hh-content-wrap {
    min-height: 100vh;
}
body.nomobile .hh-outerwrap {
    transition:all 0.75s cubic-bezier(0.75,0,0,0.99);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%); */
}
/* body.nomobile .hh-outerwrap.peek {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%);
} */

body.nomobile .hh-container {
    top:-15px;
    left:-15px;
    width:calc(100% + 30px);
    height:calc(100% + 30px);
}

section.home-hero .hh-innerwrap:before {
    background:rgba(0,0,0,0.2);
    width: 100%;
    height:100%;
    top:0;
    left:0;
    content:"";
    display: block;
    position: absolute;
}
.hh-content-wrap {
    padding-top:175px;
}
.hh-content-inner {
    padding:0 25px 50px clamp(25px, 7vw, 150px);
}
.hh-content-inner.reverse {
    padding:0 clamp(25px, 7vw, 150px) 50px 25px;
}
.hh-content-inner .pretitle {
    font-weight: 500;
}
.hh-content-inner ._subtitle {
    max-width: 650px;
    display: block;
}


/*  HERO :: PAGE HERO
=========================================== */

.page-hero-content-wrap {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.page-hero-content-wrap .hh-content-inner {
    max-width: 700px;
}
.page-hero-content-wrap .title {
    text-shadow: 0 0 15px rgba(0,0,0,0.25);
}
.page-hero-content-wrap ._subtitle {
    text-shadow: 0 0 15px rgba(0,0,0,0.95);
}
.page-hero-cta a:nth-child(2) {
    margin-left:25px;
}



/*  HERO :: UVSC POSTS PAGE TEMPLATE HERO
=========================================== */

.ph-outerwrap {
    padding-block: 285px 85px;
}
.ph-subtitle {
    max-width: 800px;
}


/*  SHORTCODES :: BOARD MEMBERS
=========================================== */

.board-members-inner {
    gap:50px 15px;
}
figure.bm-item {
    background-color:rgba(255,255,255,0.25);
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.075);
}
figure.bm-item:hover {
    background-color:var(--uvsc-bisque);
    box-shadow: 3px 6px 12px rgba(0,0,0,0.15);
}
.bm-item-bg {
    height:200px;
}
.bm-imgwrap {
    width:55%;
    max-width: 225px;
    left:50%;
    border:3px solid rgba(255,255,255,0.1);
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
}
.bm-content-wrap {
    padding:100px 10px 25px;
}
.bm-content-wrap .name {
    color:var(--uvsc-text-light);
}
figure.bm-item:hover .bm-content-wrap .name {
    color:var(--uvsc-text-dark);
}
.bm-content-wrap .position {
    color:var(--uvsc-bisque);
}
figure.bm-item:hover .bm-content-wrap .position {
    /* color:var(--uvsc-slate-blue); */
    color:var(--uvsc-slate-grey);
}

/*  modal  */

.bm-modal {
    width:100%;
    height:100vh;
    /* visibility: hidden; */
    z-index: -100;
}
.bm-modal.active {
    /* visibility: visible; */
    z-index: 100;
}
.bm-modal-wrap {
    border-radius: 10px;
    overflow: hidden;
}
#bm-modal-bio-image {
    width:200px;
    height:200px;
    top:75px;
    border:2px solid var(--uvsc-bisque);
    border-radius: 50%;
    position: absolute;
}
.bm-modal-right {
    /* max-height: 90vh; */
    overflow-y: auto;
}
.bm-modal-close,
.bm-modal-close:focus {
    background-color: var(--uvsc-bisque);
    top:25px;
    border: 1px solid var(--uvsc-slate-blue);
}
.bm-modal-close span,
.bm-modal-close:focus span {
    background-color: var(--uvsc-slate-blue);
}
.bm-modal-close:hover {
    background-color: var(--uvsc-slate-blue);
}
.bm-modal-close:hover span {
    background-color: var(--uvsc-bisque);   
}


/*  SHORTCODES :: FAMILY MEMBERS
=========================================== */

.family-members-inner {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:10px;
}
.family-members-inner figure.fm-item {
    background:#f1f1f1;
    height:275px;
    border:1px solid #eee;
    border-radius: 10px;
}
.fm-item-inner {
    width:100%;
    height:100%;
    border-radius: 10px;
}
.fm-item-image {
    width:100%;
    height:calc(100% + 10px);
    -webkit-transition:0.2s all ease-in-out;
    transition:0.2s all ease-in-out;
}
.fm-item-image:before {
    background-color: var(--uvsc-bisque);
    opacity: 0;
    -webkit-transition:0.2s all ease-in-out;
    transition:0.2s all ease-in-out;
}
figure.fm-item:hover .fm-item-image {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-transform:translate3d(0, -10px, 0);
    transform:translate3d(0, -10px, 0);
}
figure.fm-item:hover .fm-item-image:before {
    opacity: 0.8;
}

.fm-item-peek {
    padding:0 15px 25px 15px;
}
.fm-item-peek h6,
.fm-item-peek button {
    opacity: 0;
    -webkit-transform:translate3d(0,-15px, 0);
    transform:translate3d(0,-15px, 0);
    -webkit-transition:0.3s all cubic-bezier(0,0,0,0.99);
    transition:0.3s all cubic-bezier(0,0,0,0.99);
}
figure.fm-item:hover h6,
figure.fm-item:hover button {
    opacity:1;
    -webkit-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
}
figure.fm-item:hover h6 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}
figure.fm-item:hover button {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/*  modal  */

.fm-modal {
    width:100%;
    height:100vh;
    /* visibility: hidden; */
    z-index: -100;
}
.fm-modal.active {
    /* visibility: visible; */
    z-index: 100;
}
.fm-modal-wrap {
    max-width: 900px;
    max-height:75vh;
    border-radius: 10px;
}
.fm-modal-close,
.fm-modal-close:focus {
    background-color: var(--uvsc-bisque);
    top:25px;
    right:25px;
    border:1px solid var(--uvsc-bisque) !important;
}
.fm-modal-close:hover {
    background-color: transparent;
}
.fm-modal-close span,
.fm-modal-close:focus span {
    background-color:var(--uvsc-slate-blue);
}
.fm-modal-close:hover span {
    background-color:var(--uvsc-bisque);
}
.fm-modal-header {
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.fm-modal-header:before {
    background: rgba(105,90,205,1);
    background: -moz-linear-gradient(-45deg, rgba(105,90,205,1) 0%, rgba(105,90,205,1) 2%, rgba(255,228,196,1) 51%, rgba(105,90,205,1) 98%, rgba(105,90,205,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(105,90,205,1)), color-stop(2%, rgba(105,90,205,1)), color-stop(51%, rgba(255,228,196,1)), color-stop(98%, rgba(105,90,205,1)), color-stop(100%, rgba(105,90,205,1)));
    background: -webkit-linear-gradient(-45deg, rgba(105,90,205,1) 0%, rgba(105,90,205,1) 2%, rgba(255,228,196,1) 51%, rgba(105,90,205,1) 98%, rgba(105,90,205,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(105,90,205,1) 0%, rgba(105,90,205,1) 2%, rgba(255,228,196,1) 51%, rgba(105,90,205,1) 98%, rgba(105,90,205,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(105,90,205,1) 0%, rgba(105,90,205,1) 2%, rgba(255,228,196,1) 51%, rgba(105,90,205,1) 98%, rgba(105,90,205,1) 100%);
    background: linear-gradient(135deg, rgba(105,90,205,1) 0%, rgba(105,90,205,1) 2%, rgba(255,228,196,1) 51%, rgba(105,90,205,1) 98%, rgba(105,90,205,1) 100%);
    width:100%;
    height:100%;
    top:-1px;
    left:0;
    content:"";
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    position: absolute;
}
.fm-modal-image {
    width:250px;
    height: 250px;
    top:-75px;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.25);
    border-radius: 50%;
}
.fm-modal-content {
    max-height: calc(75vh - 110px);
    overflow-y: auto;
}


/*  SHORTCODES :: PRESS ARTICLES
=========================================== */

.press-articles-inner {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    gap:25px;
}
a.press-article-item {
    height:300px;
    border-radius: 10px;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
a.press-article-item:before {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    z-index: 1;
    -webkit-transition:0.25s all ease-in-out;
    transition:0.25s all ease-in-out;
}
a.press-article-item:hover::before {
    background-color: var(--uvsc-slate-blue);
    opacity: 0.75;
}
.press-article-item-bg {
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transition:0.5s all cubic-bezier(0.25,0,0,0.99);
    transition:0.5s all cubic-bezier(0.25,0,0,0.99);
}
a.press-article-item:hover .press-article-item-bg {
    -webkit-filter:blur(2px);
    filter:blur(2px);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
p.pa-item-date {
    font-size: 13.5px;
    letter-spacing: 2px;
}


/*  POSTS :: SINGLE + ARCHIVE
=========================================== */

.post-hero {
    height:clamp(375px, 55vh, 600px);
}
.post-hero:before {
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    opacity: 0.5;
}
article.uvsc-post {
    padding-inline:25px;
}
article.uvsc-post .entry-title {
    font-weight: 600;
}
article.uvsc-post .entry-content {
    padding-top:25px;
}

/*  post footer meta nav links  */

.post-meta-nav-links {
    border-top:1px solid #eee;
    margin-top:75px;
    padding-top:50px;
}
a.post-meta-nav-item {
    font-weight: 500;
    color:var(--uvsc-burlywood);
}
a.post-meta-nav-item:hover {
    color:var(--uvsc-slate-blue);
}
.post-meta-nav-link-prev:hover {
    -webkit-transform:translate3d(-3px,0,0);
    transform:translate3d(-3px,0,0);
}
.post-meta-nav-link-next {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.post-meta-nav-link-next:hover {
    -webkit-transform:translate3d(3px,0,0);
    transform:translate3d(3px,0,0);
}

/*  archive  */

.archive-description {
    display:none !important;
}
body.is-archive .site-inner {
    padding-top:150px;
}
body.is-archive a.entry-title-link:hover,
body.is-archive a.entry-title-link:focus {
    color:var(--uvsc-steel-blue);
}


/*  FOOTER
=========================================== */

footer.site-footer {
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
}
footer.site-footer:before {
    background-color: rgba(0,0,0,0.4);
    width:100%;
    height:100%;
    top:0;
    left:0;
    content:"";
    display: block;
    z-index: -1;
    position: absolute;
}
.footer-inner {
    gap:100px 50px;
}

.footer-inner p {
    color:var(--uvsc-text-light);
    text-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.footer-inner img {
    display: block;
}

.footer-logo {
    max-width:175px;
}
.footer-col.col--3 {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

/*  social  */

footer .social-container a {
    margin-inline: 20px;
}
footer .social-container svg {
    font-size: 24px;
}
footer .social-container svg.linktree {
    width:26px;
}
footer .social-container svg,
footer .social-container svg path {
    -webkit-transition:0.2s all ease-in-out;
    transition:0.2s all ease-in-out;
}
footer .social-container a:hover svg {
    -webkit-transform:translateY(-3px);
    transform:translateY(-3px);
}
footer .social-container.dark svg path {
    fill:var(--uvsc-slate-blue);
}
footer .social-container.light svg path {
    fill:var(--uvsc-text-light);
}
footer .social-container.light a:hover svg path {
    fill:#fff;
}





/*  colophon  */

.colophon-wrap {
    text-align: center;
}
.colophon-wrap p {
    font-size: 14px;
    color:#fff;
    opacity: 0.5;
}
.colophon-wrap p a {
    color:var(--uvsc-bisque);
}
.colophon-wrap p a:before,
.colophon-wrap p a:after {
    display: none;
}